<!DOCTYPE html>
<html lang="ko">

<head>

    @@include('../partials/head/head.html', { "title": "index", "path": "../" })

</head>

<body>

    <h1>index</h1>

    <ul class="list">
        <li><a href="build/default.html" target="_blank">default</a></li>
        <li><a href="build/sub1/sub1-1.html" target="_blank">sub1/sub1-1</a></li>
        <li><a href="build/sub2/sub2-1.html" target="_blank">sub2/sub2-1</a></li>
        <li>================ EX ===================</li>
        <li><a href="build/ex/swiper.html" target="_blank">ex/swiper</a></li>
        <li><a href="build/ex/bootstrap.html" target="_blank">ex/bootstrap</a></li>
        <li>================ UI ===================</li>
        <li><a href="build/ui/selectbox.html" target="_blank">ui/selectbox</a></li>
    </ul>



    <!-- <script src="assets/js/vendor.min.js" defer></script>
    <script src="assets/js/app.js" defer></script> -->
    <!-- @@include('../partials/head/js.html', { "path": "." }) -->
</body>

</html>